main{
    background-image: url("../Images/Angebot_Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
}


.sectionCalendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px
}

.datumswahl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.datumPfeile {
    background-color: #DFD0AF;
    color: #bf3a3b;
    text-align: center;
    border-radius: 20%;
    font-size: 22px;
    height: 30px;
    width: 30px;
    margin: 0px 20px;
}

.datum {
    background-color:  #e37e41;
    color: white;
    font: amiko;
    font-size: 22px;
    font-weight: 700;
    border-radius: 15px;
    width: 240px;
    height: 30px;
    text-align: center;
}

.mapKalender {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.eventKarte {
    border-radius: 20px;
    width: 460px;
}

.suchbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    height: 84px;
    background-color: white;
    border-radius: 42px;
    align-items: center;
  width: 1000px;
}

#suchIcon {
    height: 64px;
border-radius: 32px;
}


.einladungBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #DFD0AF;
    border-radius: 42px;
    align-items: center;
    width: 1000px;
}

.einladungAnmeldung {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    align-items: center;
    }

    #anmeldung {
        background-color: #FFF3D9;
        color: black;
        text-align: center;
        border-radius: 15px;
        font-size: 22px;
        height: 30px;
        width: 220px;
        margin: 0px 20px;
    }
    #registrieren {
        background-color:  #e37e41;
        color: white;
        text-align: center;
        border-radius: 15px;
        font-size: 22px;
        height: 30px;
        width: 220px;
        margin: 0px 20px;
    }


    .sectionBeschreibung {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 10px
    }

#schnöigge { 
text-align: end;
align-self: flex-end;
 }
 
 .paragraphTitel {
    font: amiko;
    font-size: 24px;
    font-weight: 700;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
}

.paragraphText {
    font: amiko;
    font-size: 22px;
    font-weight: 400;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: start;
    width: 500px;
}

.angebotLink {
display: flex;
flex-direction: row;
justify-content: center;
}

#zurKarte {
    background-color: #047553;
    color: white;
align-tracks: center;
    text-align: end;
    font-family: "input-serif", serif;
    border-radius: 42px;
    font-size: 30px;
    height: 84px;
    padding: 10px;
    margin-right: 100px;
}

#zumKalender {
    background-color: #ef85ad;
    color: white;
    justify-content: flex-start;
    font-family: "input-serif", serif;
    border-radius: 42px;
    font-size: 30px;
    height: 84px;
    padding: 10px;
    margin-left: 100px;
}

#weird{ 
text-align: center;
width: 50%;
}