@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');

body {
    background-image: url("../Images/Home_Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
  
}

.teaser {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0 20 px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.teaserimage {
    width: 300px;
}

.teaserBoxRechts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 30px;
    flex-direction: column;
    width: 400px;

}

.teaserBoxLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 30px;
    flex-direction: column;
    width: 400px;
    ;
}

.teaserTextLinks {
    text-align: right;
}

.teaserTextRechts {
    text-align: left;
}



.event {
    display: flex;
    margin: 10px;
    background-color: #FFFCF5;
    width: 80%;
    flex-direction: row;
    padding: 20px;
    border-radius: 20px;
}

.eventliste {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    margin-top: 200px;
    margin-bottom: 200px;
    align-items: center;
}

.largeimage {
    margin: 20px;
    height: 600px;

}

.eventDatum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eventMonat {
    font-size: 30px;
    font-family: "input-serif", serif;
    margin: 0;
}

.eventTag {
    font-size: 70px;
    font-family: "input-serif", serif;
    margin: 0;
}

.eventTitel {
    font-size: 30px;
    font-family: "input-serif", serif;
    margin-top: 0;
}

#eventGrün {
    border: #0b6824;
    border-width: 5px;
    border-style: solid;
}

#eventPink {
    border: #fa86d9;
    border-width: 5px;
    border-style: solid;
}

#eventRot {
    border: #7c2c27;
    border-width: 5px;
    border-style: solid;
}

.boxRezensionen {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.userRezension {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 200px;
}

.portraitRezensionen {
    width: 300px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.nameRezensionen {
    font-size: 20px;
    font-family: "amiko", sans-serif;
    margin-top: 20px;
    font-style: "bold";
}

.textRezensionen {
    font-size: 15px;
    font-family: "amiko", sans-serif;
    margin-top: 5px;
    font-style: "bold";
    width: 300px;
    text-align: center
}

.datumRezensionen {
    font-size: 12px;
    font-family: "amiko", sans-serif;
    margin-top: 7px;
    font-style: "bold";
}

@media screen and (max-width: 850px) {
#rezensionTobias {
    display: none;
}
    
}

@media screen and (max-width: 450px) {
    .teaser{ flex-direction: column;}
    .boxRezensionen{flex-direction: column;}

    .paragraph {
        width: 100%;
    }
}