@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');

body {
    background-image: url("../Images/Home_Background.svg");
    background-repeat: no-repeat;
    background-size: cover;


}

#headerUnterschrift {
  text-align: center;
}

.teaser {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 0px 20px;
    margin-bottom: 200px;
}

.teaserImageBox {
    width: 40%;
    height: auto;
}

.teaserimage {
    width: 100%;
}

.teaserBoxRechts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 30px;
    width: 50%;

}

.teaserBoxLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 30px;
    width: 50%;
}

.teaserTextLinks {
    text-align: right;
}

.teaserTextRechts {
    text-align: left;
}

#spass {
    align-self: flex-end;
    width: 100%;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 100px;
}

.event {
    display: flex;
    margin: 10px;
    background-color: #FFFCF5;
    width: 80%;
    flex-direction: row;
    padding: 20px;
    border-radius: 20px;
}

.eventliste {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 200px;
    align-items: center;
}

.largeimage {
    width: 100%;

}

.eventDatum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eventMonat {
    font-size: 30px;
    font-family: "input-serif", serif;
    margin: 0;
}

.eventTag {
    font-size: 70px;
    font-family: "input-serif", serif;
    margin: 0;
}

.eventTitel {
    font-size: 30px;
    font-family: "input-serif", serif;
    margin-top: 0;
}

#eventGrün {
    border: #0b6824;
    border-width: 5px;
    border-style: solid;
}

#eventPink {
    border: #fa86d9;
    border-width: 5px;
    border-style: solid;
}

#eventRot {
    border: #7c2c27;
    border-width: 5px;
    border-style: solid;
}

.boxRezensionen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.userRezension {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    align-self: flex-start;
}


.portraitRezensionen {
    width: 300px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.nameRezensionen {
    font-size: 25px;
    margin-top: 20px;
    font-weight: 700;
}

.textRezensionen {
    margin-top: 5px;
    width: 300px;
    text-align: center
}

.datumRezensionen {
    font-size: 15px;
    margin-top: 7px;
}

@media screen and (max-width: 850px) {
    #rezensionTobias {
        display: none;
    }

    body {background-position-y: 18cm;
        background-position-x: 0cm;
        background-color: #FFF3D9;
    
}

}

@media screen and (max-width: 450px) {
    
    
    .teaser {
        flex-direction: column;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .boxRezensionen {
        flex-direction: column;
    }

    #rezensionTobias {
        display: flex;
    }

    .paragraph {
        width: 100%;
    }

    .userRezension {
        margin-bottom: 100px;
    }

    .teaserImageBox {
        width: 100%;
    }

    .teaserBoxLinks {
        width: 100%;
        margin-right: 0px;
    }

    .teaserBoxRechts {
        width: 100%;
        margin-left: 0px;
    }

    .event {
        flex-direction: column;
        
    }
    .eventDatum {
        flex-direction: row;
        justify-content: space-around;

         }

         .eventTag {
             font-size: 50px;
         }
         .eventMonat {
             font-size: 50px;
         }
         body {background-position-y: 25cm;
            background-position-x: 0cm;
            background-color: #FFF3D9;
        
   }
}