
.flexbox {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 80%;
    margin-bottom: 50px;
}

.impressumContainer {
    display: flex;
    width: 70%;
    align-items: flex-start;

}

.impressumText { text-align: left;}

h1 {
    color: #b34641;
}

body {
    background-color:  #FFF3D9;
}

.pageTitle {
align-self: flex-start;
}


@media screen and (max-width: 820px) {
    
        .impressumContainer {
            width: 100%;
        }
}

@media screen and (max-width:480px) {

    .impressumContainer {
        width: 100%;
    }

    h2{ font-size: 25px;}
}