
.flexbox {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 80%;
    margin-bottom: 50px;
}

#container {
    max-width: 100%;
    text-align: flex-start;
}

h1 {
    color: #b34641;
}

body {
    background-color:  #FFF3D9;
}

.pageTitle {
align-self: flex-start;
}