@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');

body {
margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

.logo{ height: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.logoHome {
    height: 400px;
    margin-top: 50px;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    font-family: "input-serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

h2 {
    color: #bf3a3b;
    font-family: "input-serif", serif;
    font-size: 41px;
    font-weight: 400;
}

h3 {
    color: #bf3a3b;
    font-family: "input-serif", serif;
    font-weight: 400;
    font-size: 66px;
    text-align: center;
}

p {
    font-family: "amiko", sans-serif;
    font-weight: 400;
    font-size: 22;
}

header {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}



.button {
    background-color: #DFD0AF;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 3.5;
    font-size: 24px;
    font-family: "amiko", sans-serif;
    width: 220px;
    height: 84px;
    border-radius: 40px;
}

.buttonActive {
    background-color: #e37e41;
    color: black;
    font-weight: 700;
    text-align: center;
    line-height: 3.5;
    font-size: 24px;
    font-family: "amiko", sans-serif;
    width: 220px;
    height: 84px;
    border-radius: 40px;
}




footer {
    background-color: #DFD0AF;
    font-family: "amiko", sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr 1fr 1fr;
    padding: 30px;
}

.footerTextContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-size: 20px;
    margin-top: 0px;
}

.footerLogosContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


#footerColumn1 {
    grid-column-start: 2;
    grid-column-end: 3;
}

#footerColumn2 {
    grid-column-start: 4;
    grid-column-end: 5;
}

#footerColumn3 {
    grid-column-start: 6;
    grid-column-end: 7;
}

#footerColumn4 {
    grid-column-start: 8;
    grid-column-end: 9;
}


.footerSoMe {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 35px;
}

.footerTitel {
    font-size: 22px;
    font-family: "amiko", sans-serif;
    color: #bf3a3b;
    margin: 0px;
}

.footerText {
    font-size: 22px;
    font-family: "amiko", sans-serif;
    margin: 0px;
}

.footerLogoContainer { 
display: flex;
flex-direction: row;
justify-content: center;
background-color: #DFD0AF;
}

.footerLogo {
    margin: 10px;
    height: 80px;
}
